<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>PokeStacker with Spring</h3>
<table border="0" cellpadding="10">
    <tr>
        <td>Pokemon name:</td>
        <td><input type="text" required="required"></td>
    </tr>
    <tr>
        <td><button><a href="api/pokemon_rewards/">Search</a></button></td>
    </tr>
</table>
<a href="api/pokemon_rewards">Get single Pokemon</a>
<br><br>
<a href="api/pokemon_rewards">Get all Pokemon</a>
<br><br>

</body>
</html>